body {
  font-size: 20px;
  font-family: Garamond;
  background: teal;
  color: #b2f3fb;
}

h1 {
  font-size: 80px;
  line-height: .6em;
  letter-spacing: 5px;
  color: #f1d853;
  text-shadow: 5px 5px gray;
}

h2 {
  font-size: 30px;
  color: #f1d853;
}

a:visited {
  color: #35e0b4;
}
